<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header.html :: head ('Ad Page')">
</head>
<body>
<div th:replace="partials/navbar.html :: navbar"></div>
<div class="mt-3 ms-3">
    <h3 th:text="${post.title}"></h3>
        <p th:text="${post.body}"></p>
        <p th:if="${post.getUser() == null}">No Email Provided</p>
        <p th:if="${post.getUser() != null}" th:text="${post.getUser().getEmail()}"></p>
</div>
<div th:replace="partials/JSBodyLink.html :: js-link"></div>
</body>
</html>